[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "ac-python"]
	path = ac-python
	url = git@github.com:achambers8472/ac-python.git
[submodule "texmf/tex/latex/ac-tex"]
	path = texmf/tex/latex/ac-tex
	url = git@bitbucket.org:achambers8472/ac-tex.git
[submodule "ac-bib"]
	path = ac-bib
	url = git@bitbucket.org:achambers8472/ac-bib.git
